@charset "utf-8";
/* CSS Document */

@import url("https://static.educlever.io/skin-api/css/fonts/CleverJul/CleverJul-granules.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&family=Quattrocento:wght@400;700&family=Sansita:ital,wght@0,400;0,800;1,400;1,800&display=swap');

body {
  font-family: 'CleverJul', sans-serif;  
  color: rgba(44,12,50,0.96);
  font-size: 17px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}

.granule {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
}

/*------------ typographie -------------------*/

b, strong {bold: bold;}

sup, sub {
vertical-align: baseline;
font-size:.6em;
position:relative;
}
sup {top: -0.75em;}
sub {bottom: -0.25em;}
p {
  margin: 0.4em 0 0.2em 0;
  font-size: 1rem;
  line-height: 1.4rem;
  width: 98%;
}
.suite {
  margin-top: 0.2em;
}
.small {
  font-size: 0.9rem;
  line-height: 1.2rem;
  width: 90%;
}
.infos {
  color: #4E5292;
  font-weight:bold;
}
h1 {
  text-align: center;
  margin: 0.3em auto;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.soustitre {
  font-family: 'Quattrocento', serif;
  font-weight:normal;
  font-size: 1.6rem;
}
.text {
  font-family: 'Quattrocento', serif;
  margin: 0.8em 5%;
  font-size: 1.4rem;
  line-height: 1.9rem;
  width:90%;
}
h2 {
  font-size: 1.7rem;
  margin: 0.4em 0;
  color: #4E5292;
  font-style: italic;
}
.droit {
  font-style: normal;
}

/*------- definitions ------*/
.definition {
  margin: 1.9em auto;
  border: #4E5292 1px solid;
  padding: 0.7em 1.5em;
  width:90%;
}
.small {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: rgba(44,12,50,0.76);
}

/*------------ img --------------------*/
.large {
  width: 100%;
}
.largePlus {
  width: 103%;
}
.margePlus {
  margin: 1.6em auto 1.9em auto;
}
.largeBis {
  width: 95%;
  margin: 0 auto 0 auto;
}
.picto {
  width: 2.6em;
}
.jauge {
  width: 96%;
}
.carte {
  border: #4E5292 1px solid;
}

/*------ tableau --------------*/
table {
  margin: 0 auto;
  padding: 0;
  width:70%;
border-collapse: collapse;
text-align: center;
}
tr, td {
border: none;
}

/*-------------- button -------------*/
.hide{display: none;}
button {
  font-family: 'CleverJul', sans-serif;  
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.2em 0.6em 0.1em 0.6em;
  box-shadow: 1px 1px 0px rgba(171,146,18,0.9);
  border-radius: 0.2em;
  text-align: center;
  background-color: #FCFCFC;
  margin: 0.5em auto;
}
.cale {
  float:left;
}
.active-button {
  border: #E8C52E solid 1px;
  background-color: #E8C52E;
  font-weight:bold;
}
#togg1 {
  border: #4B7798 solid 1px;
  color: #4B7798;
}
#togg1:hover {
  background-color: #4B7798;
  border: #E8C52E solid 1px;
  font-weight:bold;
color:#FFFFFF;
}
#d1 {
  position: relative;
  width: 100%;
  padding: 0;
}
#d6 {
  position: relative;
  width: 100%;
  padding: 0;
}

#togg2 {
  border: #7F2789 solid 1px;
  color: #7F2789;
}
#togg2:hover {		
  background-color: #7F2789;
  border: #E8C52E solid 1px;
  font-weight:bold;
  color:#FFFFFF;
}
#d2 {
  position: relative;
  width: 100%;
  padding: 0;
}
#d7 {
  position: relative;
  width: 100%;
  padding: 0;
}

#togg3 {
  color: #A51B29;
  border: #A51B29 solid 1px;
}
#togg3:hover {
  background-color: #A51B29;
  border: #E8C52E solid 1px;
  font-weight:bold;
  color:#FFFFFF;
}
#d3 {
  position: relative;
  width: 100%;
  padding: 0;
}
#d8 {
  position: relative;
  width: 100%;
  padding: 0;
}

#togg4 {
  color: #A51B29;
  border: #A51B29 solid 1px;
}
#togg4:hover {
  background-color: #A51B29;
  border: #E8C52E solid 1px;
  font-weight:bold;
  color:#FFFFFF;
}
#d4 {
  position: relative;
  width: 100%;
  padding: 0;
}
#d9 {
  position: relative;
  width: 100%;
  padding: 0;
}

#togg5 {
  color: #A51B29;
  border: #A51B29 solid 1px;
}
#togg5:hover {
  background-color: #A51B29;
  border: #E8C52E solid 1px;
  font-weight:bold;
  color:#FFFFFF;
}
#d5 {
  position: relative;
  width: 100%;
  padding: 0;
}
#d10 {
  position: relative;
  width: 100%;
  padding: 0;
}

/*------ flexbox --------------*/
.box {
  width:70%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.element {
  margin: 0 auto;
}

/*------ responsivite --------------*/


@media only screen and (max-width: 760px) and (min-width: 700px) {

  body {
    font-size: 15px;
    line-height: 23px;
  }

  
}



@media only screen and (max-width: 698px) and (min-width: 590px) {
  
  body {
    font-size: 14.5px;
    line-height: 22px;
  }

  
}



@media only screen and (max-width: 589px) and (min-width: 500px) {
  
  body {
    font-size: 12px;
    line-height: 17px;
  }
  

  
  
}






@media only screen and (max-width: 499px) and (min-width: 400px) {
  
  body {
    font-size: 10px;
    line-height: 15px;
  }

  
  
}






@media only screen and (max-width: 399px) {
  
  body {
    font-size: 10px;
    line-height: 15px;
  }
  

  
  
  
}




