@charset "utf-8";
/* CSS Document */

@import url("./checkbox.css");
@import url("./grid.css");
@import url("https://static.educlever.io/skin-api/css/fonts/CleverJul/CleverJul-granules.css");
/*--------couleurs
#715969 > rgba(113, 89, 105, 1)
#604a7b > rgba(96, 74; 123, 1)
#651c5a > rgba(101, 28, 90, 1)
#979246 > rgba(151, 146, 70, 1)
#f1c985 > rgba(241, 201, 133, 1)
#805471 > rgba(128, 84, 113, 1)
#d9544b > rgba(217, 84, 75, 1)
#babc0b > rgba(186, 188, 11, 1)
#00acb2 > rgba(0, 172, 178, 1)
#604a7b > rgba(96, 74, 123, 1)
#321230 > rgba(50, 18, 48, 1)
#fbbf00 > rgba(251, 191, 0, 1)
fin couleurs-----*/

/*--- base ---*/

body {
	font-family: 'CleverJul', helvetica, sans-serif;
    /*background-color: rgba(251, 191, 0, 0.26);*/
    color: rgba(31, 1, 28, 0.96);
    font-size: 17px;
	line-height: 26px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

b, strong {bold: bold;}

sup, sub {
vertical-align: baseline;
font-size:.75em;
position:relative;
}
sup {top: -0.75em;}
sub {bottom: -0.25em;}

/*------*/



.fin {
    padding: 6px;
    font-size: 16px;
    line-height: 26px;
    color: #805471;
    clear: both;
    text-align: center;
    border-bottom: #805471 18px solid;
}

.intro {
    background-color: rgba(241, 201, 133, 0.3);
}

/*------------ images -------------------*/
img {
	margin: 0.2em;
	width: 99%;
}
.large {
	width: 96%;
	margin: 0.4em auto;
}
.deuxtiers {
	float: left;	
	margin: 0.4em auto;
	width: 62%;
}

/*------------ typographie -------------------*/


p {
	margin: 1em auto;
	font-size: 1.3em;
	line-height: 1.4em;
	width: 99%;
}
/*.etiquette {
	background-color: rgba(251, 191, 0, 0.3);
	color: #604a7b;
}*/
.etiquette {
	background-color: rgba(96, 74, 123, 0.8);
	color: #FFF;
}

.blanc {
	color: #FCFCFC;
}
.debut {
	margin: 0.5em auto 0.2em auto;
}
.suite {
	margin: 0.2em auto;
}
.droite {
	text-align: right;
}
.decalbas {
	margin: 3em auto 0 auto;
}
.cadre {
	padding: 0 1em auto auto;
}
.nomargehaut {
	margin-top: -0.5em;
	padding-right: 1em;
}


h1 {
	margin: 0.3em 0.6em 0.6em 4.5em;
	font-size: 2.2em;
	padding-bottom: 1em;
	color: #712958;
}


h2 {
	font-size: 1.8em;
	margin: 44px auto 20px 10%;
	color: #66246d;
	line-height: 1.3em;
	width: 75%;
}

h3 {
	color: #66246d ;
	font-size: 1.6em;
	margin: 38px auto 16px 14%;
	line-height: 1.3em;
	width: 70%;
}

/*-----questions-reponses --------------*/

.Q {
	background-color: #197497;
	margin: 0.6em 0 0.6em 0;
}

/*-----questions-reponses --------------*/

.voff {
	/*background-color: rgba(241, 201, 133, 0.05);*/
	color: #075A70;
	border: #04adb2 solid 2px;
	margin: 0.9em auto;
}

.voff p {
	margin-left: 0;
}



/*------ responsivite --------------*/

@media only screen and (max-width: 730px) and (min-width: 600px) {

body {
    font-size: 14.5px;
	line-height: 23px;
}

}

@media only screen and (max-width: 599px) and (min-width: 500px) {

body {
    font-size: 13.5px;
	line-height: 19px;
}

p {
	margin: 0.6em auto;
}

}

@media only screen and (max-width: 499px) and (min-width: 400px) {

body {
    font-size: 12px;
	line-height: 18px;
}

p {
	margin: 0.5em auto;
}
}

@media only screen and (max-width: 399px) {

body {
    font-size: 11px;
	line-height: 16px;
}

p {
	margin: 0.4em auto;
}
}













