@charset "utf-8";
/* CSS Document */


@import url("https://static.educlever.io/skin-api/css/fonts/CleverJul/CleverJul-granules.css");

/*--- base ---*/

    #slider {
      text-align: center;
      padding-top: 0px;
      margin: auto;
      overflow-x: hidden;
      float: right;
      width: 76%;
    }

    article {
      display: block;
      width: 99%;
      text-align: left;
    }

    article img {
      display: block;
      text-align: center;
      max-width: 100%;
    }
    .info {
      margin: 0.3em auto;
    }
    .infoBis {
      margin: 0.2em auto 0.6em auto;
      width:78%;
    }

    .contenu {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    
    
    /*------------------- Slider Setup -------------------*/
    
    #slide1:checked ~ #slides .inner {
      margin-left: 0;
    }

    #slide2:checked ~ #slides .inner {
      margin-left: -100%;
    }

    #slide3:checked ~ #slides .inner {
      margin-left: -200%;
    }

    #slide4:checked ~ #slides .inner {
      margin-left: -300%;
    }

    #slide5:checked ~ #slides .inner {
      margin-left: -400%;
    }

    
    #overflow {
      width: 99%;
      overflow: hidden;
      text-align: center;
      margin: auto 0 auto auto;
    }

    #slides .inner {
      width: 500%;
    }

    #slides article {
      width: 20%;
      float: left;
    }

    #slides {
      margin-top: -1.1em;;
    }

    
    #slide1:checked ~ #active label:nth-child(1),
    #slide2:checked ~ #active label:nth-child(2),
    #slide3:checked ~ #active label:nth-child(3),
    #slide4:checked ~ #active label:nth-child(4),
    #slide5:checked ~ #active label:nth-child(5) {
      background: #fff;
      border-color: #777 !important;
    }

    /*------------------ Animation ------------------*/
    
    #slides .inner {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    }

    #controls label {
      -webkit-transform: translateZ(0);
      -webkit-transition: opacity 0.2s ease-out;
      -moz-transition: opacity 0.2s ease-out;
      -o-transition: opacity 0.2s ease-out;
      transition: opacity 0.2s ease-out;
    }

    #slider {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }

    #slide1:checked ~ #slides article:nth-child(1),
    #slide2:checked ~ #slides article:nth-child(2),
    #slide3:checked ~ #slides article:nth-child(3),
    #slide4:checked ~ #slides article:nth-child(4),
    #slide5:checked ~ #slides article:nth-child(5) {
      opacity: 1;
      -webkit-transition: all 1s ease-out 0.6s;
      -moz-transition: all 1s ease-out 0.6s;
      -o-transition: all 1s ease-out 0.6s;
      transition: all 1s ease-out 0.6s;
    }

    #controls, #slides, #active, #active label, .desktop, .tablet, .mobile {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
    }

    
    
    /*------------------ sommaire setup ----------------------*/
    
    #volet {
      height: auto;
      color: #27082C; 
      margin: 0.6em auto;
      width:19%;
    }

    #volet {
      position: fixed;
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      transition: all .5s ease-in;
      text-align: left;
    }

    /*--------- éléments du sommaire -------*/
    
    #volet ul {
      margin:0.3em auto 1.3em -20%;
      list-style: none;
    }
    #volet ul li{
      border-radius: 0.2em;
      margin-top: 0.6em;
      padding: 1em;
      cursor: pointer;
      box-shadow: 1px 1px 0px rgba(50,18,48,0.9);
      text-align: center;
    }
    .lien4 {
      color: #2c0c32;
      background-color: rgba(99,78,130,0.5);
    }
    .lien3 {
      color: #2c0c32;
      background-color: rgba(134,22,113,0.4);
    }
    .lien2 {
      color: #2c0c32;
      background-color: rgba(173,22,96,0.4);
    }	
    .lien1 {
      color: #2c0c32;
      background-color: rgba(227,32,82,0.5);
    }
    .lien5 {
      color: #2c0c32;
      background-color: rgba(78,82,151,0.5);
    }

/* ajout pour avoir bouton slide 1 (sommaire) actif par défaut à l'ouverture : */
      #volet li {
        cursor: pointer;
      }
      #volet li.actif {
        font-weight: bold; /* ou tout autre style pour indiquer l'élément actif */
      }
      #volet li.normal {
        font-weight: normal; /* style pour les éléments non actifs */
      }	

    /*------ colors buttons --------*/
    .lien4:hover {
      color: #FFFFFF;
      background-color: rgba(99,78,130,1);
    }
    .lien3:hover {
      color: #FFFFFF;
      background-color: rgba(134,22,113,1);
    }
    .lien2:hover {
      color: #FFFFFF;
      background-color: rgba(173,22,96,1);
    }
    .lien1:hover {
      color: #FFFFFF;
      background-color: rgba(189,42,118,1);
    }
    .lien5:hover {
      color: #FFFFFF;
      background-color: rgba(78,82,151,1);
    }

    #volet ul li.active {
      color: #5f497a;
      border: rgba(95, 73, 122, 0.9) solid 3px;
      font-weight: bold;
      background-color: #FCFCFC;
    }

    
    /*------------------- sommaire Setup -------------------*/
    
    #label1:checked ~ #slides .inner {
      margin-left: 0;
    }

    #label2:checked ~ #slides .inner {
      margin-left: -100%;
    }

    #label3:checked ~ #slides .inner {
      margin-left: -200%;
    }

    #label4:checked ~ #slides .inner {
      margin-left: -300%;
    }

    #label5:checked ~ #slides .inner {
      margin-left: -400%;
    }

    
    /*--------- stepline --------------------------*/
    
    input[type="radio"].step-slide {
      outline: none !important;
    }

    /*--- taille et espaces stepline ----*/
    
    input[type="radio"].step-slide {
      cursor: pointer;
      display: inline-block;
      height: 0;
      width: 1em;
      -webkit-appearance: none !important;
      –moz–appearance: none !important;
      appearance: none !important;
    }

    input[type="radio"].step-slide:after {
      background-color: rgba(242, 202, 134, 1);
      content: '';
      display: block;
      height: 0;
      position: relative;
      width: 1em;
    }

    input[type="radio"].step-slide:checked:after {
      background-color: rgba(95, 73, 122, 1);
    }

    input {
      margin: 0 1em;
    }





@media only screen and (max-width: 789px) and (min-width: 699px) {

#volet ul li{
  padding: 1em 0.5em;
}
  #volet {
    width:23%;
  }
  
  #volet ul {
    margin:0.3em auto 1.3em -24%;
  }
}

@media only screen and (max-width: 698px) and (min-width: 560px) {
  #volet ul li{
    padding: 1em 0.4em;
  }
  #volet {
    width:23%;
  }
  
  #volet ul {
    margin:0.3em auto 1.3em -25%;
  }
}


@media only screen and (max-width: 559px) {
  #volet ul li{
    padding: 0.8em 0.2em;
  }
  
  #volet {
    width:23%;
  }
  
  #volet ul {
    margin:0.3em auto 1.3em -30%;
  }
  
}