@charset "utf-8";
/* CSS Document */

@import url("https://static.educlever.io/skin-api/css/fonts/CleverJul/CleverJul-granules.css");
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Sansita:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  font-family: 'CleverJul', sans-serif;
  /*background-color: #FCFCFC;*/
  background-color: rgba(255,255,255,0.1);
  color: rgba(44,12,50,0.96);
  font-size: 17px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}
.granule {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

/* colors
  #D8CE9F
  #FBCD5F
  #D9E233
  rgba(229,185,46,0.95)
*/

/*------------ typographie -------------------*/
b, strong {bold: bold;}
sup, sub {
vertical-align: baseline;
font-size:.6em;
position:relative;
}
sup {top: -0.75em;}
sub {bottom: -0.25em;}
p {
  margin: 0.4em 0 0.2em 0;
  font-size: 1rem;
  line-height: 1.4rem;
  width: 98%;
}
.decalGche {
  margin-left:1.1em;
}
.suite {
  margin-top: 0.2em;
}
.smalltext {
  margin-top: 0.2em;
  padding: 0.2em 0.7em;
  font-size: 0.8rem;
  line-height: 1rem;
  width: 90%;
}
.intro {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  font-weight:bold;
  margin: 0.2em auto 0 0;
}

h1 {
  margin: 0.3em auto;
  font-family: 'Anton', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
}
.date {
  background-color: rgba(44,12,50,0.96);
  color:#FFFFFF;
  padding:0.1em;
  margin:0.9em auto auto auto;
}
.alignR {
text-align: right;
}
.sansita {
  margin: 0.3em auto;
  font-family: 'Sansita', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
}
.question {
  margin: 0.3em auto;
  font-family: 'Sansita', sans-serif;
  font-size: 2.3rem;
  line-height: 2rem;
  padding:0.6em;
  text-align: center;
  color:#FFFF;
  background-image: url("../img/bkgQuestion.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.article {
  font-size: 1rem;
  font-weight: normal;
}
.chapo {
  margin: 0.9em 0 0.2em 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
  width: 98%;
}
.chiffre {
  font-family: 'CleverJul', sans-serif;
  font-size: 1.1rem;
  font-weight:bold;
}
.text {
  font-family: 'Quattrocento', serif;
  margin: 0.8em 5%;
  font-size: 1.4rem;
  line-height: 1.9rem;
  width:90%;
}

h2 {
  font-size: 1.5rem;
  margin: 0.4em 0;
  color: rgba(40,9,44,1);
}
.qualite {
  font-family: 'Anton', sans-serif;
  font-size: 1.7rem;
  line-height: 1.4rem;
  font-weight:bold;
  color: rgba(40,9,44,0.96);
  text-align: center;
}
.mode {
  font-family: 'Sansita', sans-serif;
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight:bold;
  margin:0;
}
.modeplus {
  font-family: 'Sansita', sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight:bold;
  margin:0;
}
.triangle {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: bold;
  color: #DA9C26;
}
.triangleBis {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: bold;
  color: #B8C128;
}
.quattro {
    font-family: 'Quattrocento', serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
.bkgBlue {
   /* background-color: rgba(22,157,162,0.5);*/
  border: rgba(22,157,162,0.9) solid 1px;
}
.bkgArticles {
  background-color: rgba(252,252,252,0.98);
  border: rgba(40,9,44,0.96) solid 1px;
  padding:0.3em;
}
.encadre {
    border: rgba(22,157,162,0.8) solid 1px;
    padding: 0.7em 0.3em;
    margin-bottom:0.9em;
}
ul {
  margin: 0.4em 0 0.2em 0;
  font-size: 1rem;
  line-height: 1.4rem;
  width: 98%;
}

/*------- calage -------*/
.large {
  width: 100%;
}
.largePlus {
  width: 102%;
}
.largeReduc {
  width: 76%;
}
.margePlus {
  margin: 1.6em auto 1.9em auto;
}
.largeBis {
  width: 95%;
  margin: 0 auto 0 auto;
}
.largeTer {
  width: 90%;
  margin: 0 auto 0 auto;
}
.picto {
  width: 2.6em;
}
.jauge {
  width: 96%;
}
.carte {
  border: #4E5292 1px solid;
}
.icone {
  width:18%;
  float:left;
  margin-right:1.1em;
}
.iconeBis {
  width:22%;
  float:left;
  margin-right:0.2em;
}
.iconeBis2 {
  width:29%;
  float:left;
}
.smallicone {
  width:11%;
  float:left;
  margin-right:0.7em;
}
.small {
  width:18%;
  vertical-align: baseline;
}
.middle {
  width:57%;
}
.centre {
  width:37%;
  margin: 0 auto;  
}

.marge {
  margin: auto 0.5em;
}
.nomarge {
  margin:0;
}
.minimarge {
  margin: auto 0.2em;
}
.margeGche {
  margin-left: 0.5em;
}
.margeleft {
  margin-left: 1.7em
}
.nomargeleft {
  margin-left: -0.4em
}
.margeDte {
  margin-right: 0.5em;
}
.margeHt {
  margin-top: 0.5em;
}
.margeBas {
  margin-bottom: 0.5em;
}
.nomargeTop {
  margin-top:-0.4em;
}
.minimargeTop {
  margin-top:-0.2em;
}
.miniTop {
  margin-top:0.3em;
}
.nomargeBottom {
  margin-bottom:-1.1em;
}
.calageHaut {
  margin-top:-1em;
}
.margeTop {
  margin-top: 3.9em;
}
.margetop {
  margin-top: 1.1em;
}
.left {
  float:left;
}
.right {
  float:right;
}
.decalTop {
  margin-top: 50%;
}
.end {
  padding-bottom: 1.1em;
}
.moinsTop {
  margin-top:-1.1em;
}
.remonte {
  margin-top:-2.3em;
}
.cale {
margin: 0 auto auto 0;
}

/*------ tableau --------------*/
table {
margin: 0 auto;
padding: 0;
width:100%;
border-collapse: collapse;
font-size: 0.8rem;
line-height: 1.3rem;
}
tr, td {
border: none;
}
.texttable1 {
  width:37%;
}
.texttable2 {
  width:47%;
  padding-left:0.3em;
}
.imgtable {
  border: #D8CE9F solid 2px;
  background-color: #D8CE9F;
}

/*------ flexbox --------------*/
.box {
  width:99%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.element {
  margin: 0 auto;
  width:30%;
}



/*@media only screen and (max-width: 860px) and (min-width: 799px) {

body {
  font-size: 17px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
}
.granule {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}  
 .intro {
  font-size: 3.4rem;
  line-height: 1.3rem;
}
 .chapo {
  margin: 0.9em 0 0.2em 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

}
    
@media only screen and (max-width: 798px) and (min-width: 699px) {

body {
  font-size: 15px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
}
.granule {
  margin-left: auto;
  margin-right: auto;
}  
 .intro {
  font-size: 3.4rem;
  line-height: 1.3rem;
}
p {
  margin: 0.4em 0 0.2em 0;
  font-size: 0.5rem;
  line-height: 1.3rem;
  width: 98%;
}
 .chapo {
  margin: 0.9em 0 0.2em 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
    

}



@media only screen and (max-width: 698px) {

body {
  font-size: 15px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
}
.granule {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}  
 .intro {
  font-size: 2.9rem;
  line-height: 2.7rem;
}
p {
  margin: 0.4em 0 0.2em 0;
  font-size: 0.9rem;
  line-height: 1.2rem;
  width: 98%;
}
 .chapo {
  margin: 0.9em 0 0.2em 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
h1 {
  margin: 0.3em auto;
  font-size: 1.4rem;
  line-height: 0.9rem;
}
.suiteH1 {
  font-size: 1.7rem;
}
.article {
  font-size: 1rem;
  line-height: 0.9rem;
}
 

}*/



